# Ignore as pastas de ambiente virtual
venv/
env/

# Ignore arquivos compilados do Python
__pycache__/
*.cpython-311.pyc
*.pyc
*.pyo

# Ignore arquivos de configuração do IDE
.vscode/
.idea/

# Ignore arquivos de dependências locais
*.log
*.sqlite3

#ignorando os arquivos da pasta dataset
dataset/
Models/